mixin errorMessage(parameters, styles)
  main(class=`${styles.error_message}`)
    div(class=`${styles.error_code}`)= parameters.code
    div(class=`${styles.error_title}`)= parameters.message
    a(class=`${styles.error_link}` href=parameters.linkTo) #{parameters.linkMessage}
