mixin errorMessage(parameters, errorMessageClasses)
  div(class=`${errorMessageClasses.error_message}`)
    div(class=`${errorMessageClasses.error_code}`)= parameters.code
    div(class=`${errorMessageClasses.error_title}`)= parameters.message
    a(class=`${errorMessageClasses.error_link}` href=parameters.linkTo) #{parameters.linkMessage}
