form(class='form')
  //- form avatar
  != avatar

  //- form title
  if title
    div(class='form-title mb-4')= title

  //- form input fields list
  != childrenList

  //- form submit element
  != submitBtn

  //- form additional links
  if primaryLinkTo
    a(class='form-link' href=primaryLinkTo) #{primaryLinkLabel}

  if secondaryLinkTo
    a(class='form-link' href=secondaryLinkTo) #{secondaryLinkLabel}
