mixin credentialsForm(parameters, signInClasses)
  div(class=`${signInClasses.credentials_message}`)
    div(class=`${signInClasses.credentials_code}`)= parameters.code
    div(class=`${signInClasses.credentials_title}`)= parameters.message
    a(class=`${signInClasses.credentials_link}` href=parameters.linkTo) #{parameters.linkMessage}