mixin credentialsForm(parameters, signInClasses)
  form(class=`${signInClasses.credentials_form}`)
    div(class=`${signInClasses.credentials_title}`)= parameters.title
    block
    a(class=`${signInClasses.credentials_link}` href=parameters.linkTo) #{parameters.linkMessage}