div(class='text-field-wrapper')
  label(for= id) #{label}
  input(
    type= type
    name= name
    id= id
    placeholder= placeholder
    required= required
    pattern= pattern
    maxlength= maxlength
    minlength= minlength
  )
  div(class='input-error-message hidden') #{errorText}
