div(class=['alt-input-field', ...classes])
  label(for= id) #{label}
  img(src= logo)
  input(
    type= type
    name= name
    id= id
    placeholder= placeholder
    required= required
    class= 'pr-1'
  )