mixin avatar(styles)
  div(class=`${styles.avatar_wrapper}` style=`${attributes.style}`)
    img(src= avatarLogo class=`${styles.avatar_logo}`)
    div(class=`${styles.avatar_overlay}`)
      div(class=`${styles.avatar_text}`) Change
